<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }} | {% endif %}Rafita Studio</title>

  <!-- Fuente Articulat CF desde Adobe Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/iic6jga.css">

  <style>
    body {
      font-family: 'articulat-cf', sans-serif;
      margin: 0;
      padding: 0;
    }

    .top-bar {
      background-color: #ffbcf2;
      height: 100px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      box-sizing: border-box;
    }

    .logo img {
      width: 150px;
      height: auto;
    }

    .logo img:hover {
     transform: scale(1.1) rotate(-2deg);
   }

    .menu-links {
      display: flex;
      gap: 40px;
    }

    .menu-links a {
      text-decoration: none;
      color: #ef0d45;
      font-weight: 300; /* Light */
      font-size: 1.3rem; /* Más grande */
      transition: font-weight 0.3s ease, color 0.3s ease;
    }

    .menu-links a:hover {
      font-weight: 900; /* Bold al pasar el mouse */
    }

    main {
      padding-top: 200px;
      text-align: center;
    }

    footer {
      margin-top: 30px;
      margin-left: 0px;
      font-size: 0.8rem;
      text-align: center;
    }

    @media (max-width: 600px) {
      .top-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: auto;
      }

      .menu-links {
        margin-top: 10px;
        flex-direction: column;
        gap: 15px;
      }
    }
  </style>
</head>
<body>
  <div class="top-bar">
    <div class="logo">
      <img src="/images/rafitaStudio_logo2025.png" alt="Rafita Studio Logo">
    </div>
    <nav class="menu-links">
      <a href="#">About</a>
      <a href="#">Work</a>
      <a href="#">Contact us</a>
    </nav>
  </div>

  <main>
    <!-- Contenido principal -->
  </main>

  <footer>
    <p>&copy; 2025 Rafita Studio</p>
  </footer>
</body>
</html>
