<!-- src/_includes/layout.njk -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  {% include "header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>&copy; 2025 Rafita Studio</p>
  </footer>
</body>
</html>
